
$mobile: 568px
$tablet: 768px
$timeline: 1000px
$desktop: 1024px


$gold: gold
$gold1: shade($gold, 20%)

$v-olive: #AEAB8A
$roti: #CFA151
$apache: #E0C073
$rob-roy: #E7C77D
$chalky: #EED691
$dove-gray: #666

$atomic-tangerine: #FE9263
$macaroni-and-cheese: #FFB27A
$navajo-white: #FFDCA4
$egg-white: #FFF7BE
$aero-blue: #C1FFE8


$aths-special: #EBE0CE
$almond: #ECD0C2
$clam-shell: #CEABB2
$twilight: #DDC6CE
$soft-peach: #F2E6E6
