.m-card-wrapper
  width: 95%
  margin: 20px auto
  background: lighten($almond, 4%)
  box-shadow: 10px 10px 1px darken($almond,4%)

  +round(10px)

  &--title
    color: purple
    font-size: modular-scale(2)
    padding-left: 10px

  &--content
    font-size: modular-scale(0)
    width: 94%
    margin: 0 auto

  &--info
    width: 100%
    line-height: 1
    font-size: modular-scale(-1)
    padding: 5px 10px

  &--para
    background: transparent

  &--para:last-of-type
    padding-bottom: 15px
