/* Smartphones (portrait and landscape) ----------- */
button, [type='button'], [type='reset'], [type='submit'] {
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Hoefler Text", "Baskerville Old Face", "Garamond", "Times New Roman", serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
  -o-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Hoefler Text", "Baskerville Old Face", "Garamond", "Times New Roman", serif;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 150ms ease;
  -o-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::-webkit-input-placeholder, [type='date']::-webkit-input-placeholder, [type='datetime']::-webkit-input-placeholder, [type='datetime-local']::-webkit-input-placeholder, [type='email']::-webkit-input-placeholder, [type='month']::-webkit-input-placeholder, [type='number']::-webkit-input-placeholder, [type='password']::-webkit-input-placeholder, [type='search']::-webkit-input-placeholder, [type='tel']::-webkit-input-placeholder, [type='text']::-webkit-input-placeholder, [type='time']::-webkit-input-placeholder, [type='url']::-webkit-input-placeholder, [type='week']::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #858585; }
  [type='color']::-moz-placeholder, [type='date']::-moz-placeholder, [type='datetime']::-moz-placeholder, [type='datetime-local']::-moz-placeholder, [type='email']::-moz-placeholder, [type='month']::-moz-placeholder, [type='number']::-moz-placeholder, [type='password']::-moz-placeholder, [type='search']::-moz-placeholder, [type='tel']::-moz-placeholder, [type='text']::-moz-placeholder, [type='time']::-moz-placeholder, [type='url']::-moz-placeholder, [type='week']::-moz-placeholder, input:not([type])::-moz-placeholder, textarea::-moz-placeholder {
    color: #858585; }
  [type='color']:-ms-input-placeholder, [type='date']:-ms-input-placeholder, [type='datetime']:-ms-input-placeholder, [type='datetime-local']:-ms-input-placeholder, [type='email']:-ms-input-placeholder, [type='month']:-ms-input-placeholder, [type='number']:-ms-input-placeholder, [type='password']:-ms-input-placeholder, [type='search']:-ms-input-placeholder, [type='tel']:-ms-input-placeholder, [type='text']:-ms-input-placeholder, [type='time']:-ms-input-placeholder, [type='url']:-ms-input-placeholder, [type='week']:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #858585; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html,
body {
  height: 100%; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Hoefler Text", "Baskerville Old Face", "Garamond", "Times New Roman", serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Garamond", "Baskerville", "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  -webkit-transition: color 150ms ease;
  -o-transition: color 150ms ease;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/* My stuff starts here */
body {
  overflow: auto;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  background-blend-mode: soft-light;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  font-size: calc(18px + 0.25vw);
  color: #333;
  vertical-align: baseline;
  background: -webkit-gradient(linear, left top, right top, from(#EBE0CE), to(#F2E6E6));
  background: -webkit-linear-gradient(left, #EBE0CE, #F2E6E6);
  background: -o-linear-gradient(left, #EBE0CE, #F2E6E6);
  background: linear-gradient(90deg, #EBE0CE, #F2E6E6); }

h1 {
  font-size: 5.3vw; }

h2 {
  font-size: 3vh; }

h3 {
  font-size: 1.5625em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.64em; }

[class*='col-'] {
  width: 100%;
  float: left;
  min-height: 1px;
  padding: 1em; }

.col-1 {
  width: 8.33333%;
  min-height: 200px;
  padding: 15px 10px; }

.col-2 {
  width: 16.66667%;
  min-height: 200px;
  padding: 15px 10px; }

.col-3 {
  width: 25%;
  min-height: 200px;
  padding: 15px 10px; }

.col-4 {
  width: 33.33333%;
  min-height: 200px;
  padding: 15px 10px; }

.col-5 {
  width: 41.66667%;
  min-height: 200px;
  padding: 15px 10px; }

.col-6 {
  width: 50%;
  min-height: 200px;
  padding: 15px 10px; }

.col-7 {
  width: 58.33333%;
  min-height: 200px;
  padding: 15px 10px; }

.col-8 {
  width: 66.66667%;
  min-height: 200px;
  padding: 15px 10px; }

.col-9 {
  width: 75%;
  min-height: 200px;
  padding: 15px 10px; }

.col-10 {
  width: 83.33333%;
  min-height: 200px;
  padding: 15px 10px; }

.col-11 {
  width: 91.66667%;
  min-height: 200px;
  padding: 15px 10px; }

.col-12 {
  width: 100%;
  min-height: 200px;
  padding: 15px 10px; }

.m-post-display-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #AEAB8A; }
  .m-post-display-wrapper--card {
    margin: 2em;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0px;
    flex: 1 1 0; }
  .m-post-display-wrapper--title {
    color: #ccac00;
    height: 2em; }

.m-card-wrapper {
  width: 95%;
  margin: 20px auto;
  background: #f1dcd2;
  -webkit-box-shadow: 10px 10px 1px #e7c4b2;
  box-shadow: 10px 10px 1px #e7c4b2;
  border-radius: 10px; }
  .m-card-wrapper--title {
    color: purple;
    font-size: 1.5625em;
    padding-left: 10px; }
  .m-card-wrapper--content {
    font-size: 1em;
    width: 94%;
    margin: 0 auto; }
  .m-card-wrapper--info {
    width: 100%;
    line-height: 1;
    font-size: 0.8em;
    padding: 5px 10px; }
  .m-card-wrapper--para {
    background: transparent; }
  .m-card-wrapper--para:last-of-type {
    padding-bottom: 15px; }

#l-containers-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: wrap row;
  -ms-flex-flow: wrap row;
  flex-flow: wrap row;
  min-height: 100%; }

#l-headers-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-width: 2px;
  border-style: solid;
  border-color: #AEAB8A;
  min-height: 5em;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#d9c0c9), to(#F2E6E6));
  background: -webkit-linear-gradient(left, #d9c0c9, #F2E6E6);
  background: -o-linear-gradient(left, #d9c0c9, #F2E6E6);
  background: linear-gradient(90deg, #d9c0c9, #F2E6E6);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

#l-footers-main {
  border-width: 2px;
  border-style: solid;
  border-color: #AEAB8A;
  width: 100%;
  min-height: 5em; }

#l-flex-items-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 5px 1.5em;
  border-right: 2px solid #AEAB8A;
  background: -webkit-gradient(linear, left top, left bottom, from(#d9c0c9), to(#F2E6E6));
  background: -webkit-linear-gradient(top, #d9c0c9, #F2E6E6);
  background: -o-linear-gradient(top, #d9c0c9, #F2E6E6);
  background: linear-gradient(180deg, #d9c0c9, #F2E6E6); }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    #l-flex-items-left {
      display: none; } }
  @media screen and (max-width: 767px) {
    #l-flex-items-left {
      display: none; } }

#l-flex-items-right {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5; }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    #l-flex-items-right {
      width: 100%; } }


